// General form styling.
form {
	max-width: 500px;
	padding: 24px 32px;
}

.form-row {
	position: relative;

	.form-element{
		display: inline-block;
		vertical-align: bottom;
		box-sizing: border-box;
		width: 50%;
		padding-left: 8px;
		padding-right: 8px;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}
	}
}

.form-element {
	position: relative;
	margin: 16px 0 8px 0;
}

label {
	display: block;
	position: relative;
	cursor: text;
	color: #888;
	top: 24px;
	line-height: 16px;
	transition: all 150ms;
	user-select: none;
}

input {
	box-sizing: border-box;
	width: 100%;
	border: none;
	box-shadow: none;
	border-bottom: 1px solid #ccc;
	background-color: transparent;
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 32px;
	height: 33px;
	box-sizing: border-box;
	transition: all 150ms;

	&:hover {
		border-bottom-color: #aaa;
	}

	&:active, &:focus {
		outline: none;
		border-bottom-width: 2px;
		border-bottom-color: #3498DB;
	}

	&.ng-dirty.ng-invalid, .ng-submitted &.ng-invalid {
		border-bottom-color: #c0392b;
	}
}

select {
	box-sizing: border-box;
	width: 100%;
	border: none;
	box-shadow: none;
	line-height: 2;
	border-bottom: 1px solid #ccc;
	margin: 0;
	padding: 0;
	background-color: transparent;
	background-size: 30px;
	background-repeat: no-repeat;
	background-position: center right;
	font-size: 16px;
	border-radius: 0;
	-webkit-appearance: none;
	transition: all 150ms;

	&:hover {
		border-bottom-color: #aaa;
	}

	&:active, &:focus {
		outline: none;
		border-bottom-color: #3498DB;
	}
}

.form-actions {
	margin-top: 36px;

	* {
		float: right;
	}
}

// Floating labels.
.form-element {
	&.input-focused label, &.input-has-value label {
		top: 0;
		font-size: 12px;
	}

	&.input-focused label {
		color: #3498DB;
	}
}

// Form validation
.form-validation {
	position: absolute;
	color: #c0392b;
	width: 100%;
	font-size: 12px;

	i {
		position: absolute;
		right: 0;
		top: 4px;
	}
}

.form-row .form-element {
	.form-validation i {
		margin-right: 16px;
	}

	&:first-child .form-validation i, &:last-child .form-validation i {
		margin-right: 8px;
	}
}

// Select2 styling
.select2-container, .select2-drop, .select2-search, .select2-search input {
	width: 100%;
}

.select2-container {

	.select2-choice {
		border: 0;
		border-bottom: 1px solid #ccc;
		padding: 0;
		margin: 0;
		background: transparent;
		line-height: 32px;
		height: 32px;
		border-radius: 0;
		box-shadow: none !important;
		box-sizing: border-box;

		.select2-arrow {
			background: transparent;
			border-left: 0;
			width: 24px;

			b {
				background: transparent;
				color: #999;
				background-image: url('../images/select-icon.png') !important;
				background-size: 32px !important;
				background-position: right center !important;
				background-repeat: no-repeat;
				transition: all 150ms;
				width: 28px;
			}
		}

		&:hover .select2-arrow b {
			background-image: url('../images/select-icon-hover.png') !important;
		}
	}

	a {
		text-decoration: none !important;
	}

	&.select2-container-active {
		.select2-choice {
			border-bottom-width: 2px;
			border-bottom-color: #3498DB;
		}

		.select2-choice .select2-arrow b {
			color: #000;
		}
	}

	&.ng-dirty[class*="ng-invalid"], .ng-submitted &[class*="ng-invalid"] {
		.select2-choice {
			border-bottom-color: #c0392b;
		}
	}

	&:hover {
		.select2-choice .select2-arrow b {
			color: #000;
		}
	}

	&.select2-dropdown-open, &.select2-dropdown-open.select2-drop-above {
		box-shadow: none;

		.select2-choice {
			border-width: 0 0 1px 0;
			background: transparent;
			box-shadow: none;
			border-radius: 0;
		}
	}
}

.select2-drop, .select2-drop.select2-drop-above {
	border: 0;
	border-radius: 0;
	box-shadow: 0 0 1px 1px rgba(0,0,0,.4);

	.select2-results {
		margin: 0;
		padding: 0;

		.select2-result-label {
			padding: 4px 8px;
		}

		.select2-highlighted {
			background-color: #f5f5f5;
			color: #000;
		}
	}

	&.select2-drop-active {
		border: 0;
	}

	.select2-search {
		padding-left: 0;
		padding-right: 0;

		input {
			margin-top: 0;
			border: 0;
			border-bottom: 1px solid #ccc;
			background-image: url('../images/search.png') !important;
			background-size: 20px 16px !important;
			background-position: right center !important;
		}
	}
}










